.Blog nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.Blog nav li {
    display: inline-block;
    margin: 20px;
}

.Blog nav a {
    color: #000;
}

.Blog nav a:hover,
.Blog nav a:active,
.Blog nav a.active {
    color: #fa923f;
}
