.Auth {
    width: 80%;
    margin: 20px auto;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}
