.article {
    max-width: 480px;
    margin: 30px auto;
    padding: 10px;

    font-family: sans-serif;
    color: #444;
}

.article__search {
    margin-bottom: 20px;
}
    .article__search input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
