<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: #ccc;
            display: inline-block;
            margin: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="demo" :style="{ backgroundColor: color }"></div>
    <div class="demo" :style="myStyles"></div>
    <div class="demo" :style="[myStyles, { height: width + 'px' }]"></div>

    <hr>

    <input type="text" v-model="color">
    <input type="text" v-model="width">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            color: 'gray',
            width: 100,
        },
        computed: {
            myStyles: function () {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        }
    });
</script>
</body>
</html>